/* Style the video: 100% width and height to cover the entire window */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');

* {
    box-sizing: border-box;
}


h1 {
    color: #ffffff;
    font-size: x-large;
    /* text-shadow: 2px 2px 4px #000000; */
    font-weight: 400px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid; */
    /* border-color: aliceblue; */
    /* margin: 10px; */
    margin-bottom: 0%;
    padding: 10px;
    background-size: cover;
    background-attachment: fixed;
    /* position: relative; */
    background-position: center center;
}

.gamehead {
    border: 20px double;
    border-radius: 80px;
    backdrop-filter: blur(1rem);
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.185), rgba(255, 255, 255, 0));
    margin-top: 40px;
    margin-inline: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gamehead:hover {
    border: 20px dotted gold;
    border-radius: 80px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f3c74d, 0 0 40px #e6b000, 0 0 50px #abad0c, 0 0 60px #e6bc00, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }

    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f3c74d, 0 0 40px #e6b000, 0 0 50px #abad0c, 0 0 60px #e6bc00, 0 0 70px #e60073;
    }

    to {
        box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }

}

/* Add some content at the bottom of the video/page */
.content {
    font-family: 'Press Start 2P', cursive;
    /* z-index: 1000; */
    border: 20px double;
    border-radius: 80px;
    backdrop-filter: blur(1rem);
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.185), rgba(255, 255, 255, 0));
    /* position: relative; */
    /* background: rgba(0, 0, 0, 0.377); */
    /* color: #f1f1f1; */
    /* width: min-content; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 35px;
}

.content .about-us {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.content .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container {
    /* color: whitesmoke; */
    /* border: #ddd solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    position: relative;
}

p {
    color: black;
    font-size: 20px;
}

.dice {
    color: whitesmoke;
    font-size: 30px;
}

.span2 {
    color: wheat;
    font-size: medium;
}

.span2:hover {
    color: orange;
}

.rules {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.r1:hover {
    color: #ffefaa;
}

.r2:hover {
    color: #ffefaa;
}

.r3:hover {
    color: #ffefaa;
}

.how2 {
    font-size: 30px;
    color: green;
}

.how2:hover {
    color: greenyellow;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 50px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    /* color: #fff; */
    cursor: pointer;
    display: inline-flex;
    /* font-family: "JetBrains Mono", monospace; */
    font-family: 'Press Start 2P', cursive;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}



.gamehead:hover {
    border: 20px yellow dotted;
}

.title {
    text-decoration: solid;
    color: #f1c70b;
    text-align: center;
    font-family: 'Coda Caption', sans-serif;
    font-weight: 800;
    font-size: calc(20vw / var(--word-total));
    /* Overriden below for fluid typography test */
    line-height: 1.0;
    letter-spacing: -0.03em;
    transform: perspective(300px) scaleY(1.5) rotateX(-40deg);
    transform-style: preserve-3d;
    /* Important for establishing a shared 3D space for all the layers */
    --layer-depth: 0.32em;
}


/* The front layer are yellow words with a thick black stroke outline */
.title .word {
    position: relative;
    display: inline-block;
    color: yellow;
    font-size: calc(((var(--line-index) + 1) * 25%) + 50%);
    /* We skew font-sizes to avoid emphasize on the top, due to perspective rotation */
    text-shadow: 0.06em 0 black, 0.06em 0.06em black, 0 0.06em black, -0.06em 0.06em black, -0.06em 0 black, -0.06em -0.06em black, 0 -0.06em black, 0.06em -0.06em black;
    transform-style: preserve-3d;
    /* Important as above, we need to make sure the pseudos share the same 3D space */
}


/* The back layers are two pseudos, we pull content through via Splitting.js! */
.title .word::before,
.title .word::after {
    content: attr(data-word);
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    display: block;
    pointer-events: none;
}

/* Red layer immediately behind the yellow, thinner stroke outline */
.title .word::before {
    color: red;
    text-shadow: 0.02em 0 black, 0.02em 0.02em black, 0 0.02em black, -0.02em 0.02em black, -0.02em 0 black, -0.02em -0.02em black, 0 -0.02em black, 0.02em -0.02em black;
    transform: translateZ(calc(var(--layer-depth) * -0.5));
}

/* Furthest layer, just simple black lettering with no outline */
.title .word::after {
    color: black;
    text-shadow: none;
    transform: translateZ(calc(var(--layer-depth) * -1));
}


/* Testing Fluid Typography with CSS Variables – Broke on Safari though? */
.title {
    --min-font-size: 64;
    --max-font-size: 128;
    font-size: calc(var(--min-font-size) * 1px);
}

@media screen and (min-width: 320px) {
    .title {
        font-size: calc(var(--min-font-size) * 1px + (var(--max-font-size) - var(--min-font-size)) * ((100vw - 320px) / 680));
    }
}

@media screen and (min-width: 1000px) {
    .title {
        font-size: calc(var(--max-font-size) * 1px);
    }
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
    padding: 20px;
}

.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 80px;
    margin-bottom: 20px;
    border: 8px solid slateblue;
    box-shadow: rgb(255, 255, 255) 0px 1px 1px 0px inset, rgba(0, 0, 0, 0.863) 0px 50px 100px -20px, rgba(0, 0, 0, 0.644) 0px 30px 60px -30px;
}

.profile-img:hover {
    border: 15px solid slateblue;
    z-index: 2000;
    transform: scale(1.01);
    cursor: grabbing;
    /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    transform: translateY(-5px);
}
.a{
    color: white;
}
.b{
    color: white;
}
.c{
    color:white;
}

.a:hover {
    /* font-size: 30px; */
    color: yellowgreen;
    text-shadow: 2px 2px 4px #000000;
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.b:hover {
    /* font-size: 30px; */
    color: yellowgreen;
    text-shadow: 2px 2px 4px #000000;
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.c:hover {
    /* font-size: 30px; */
    color: yellowgreen;
    text-shadow: 2px 2px 4px #000000;
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

/* @media screen and (min-width: 40px) {
    .profile-img {
       height: 100px;
       width: 100px;
       border-radius: 50%;
       justify-content: start;
    }
} */

/* .prof-img{
    border: 1px solid white;
    padding: 20px;
    border-radius: 50%;
} */

.prof-txt {
    /* position: fixed; */
    text-align: center;
    /* border: 8px solid slateblue; */
    padding: 20px;
    border-radius: 32px;
    z-index: 1000;
    color: white;
    background: linear-gradient(to left top, rgba(131, 79, 214, 0.788), rgb(0, 0, 0));
    backdrop-filter: blur(4rem);
    box-shadow: rgb(255, 255, 255) 0px 1px 1px 0px inset, rgba(0, 0, 0, 0.863) 0px 50px 100px -20px, rgba(0, 0, 0, 0.644) 0px 30px 60px -30px;
    
}

.gamehead {
    margin: 1rem;
    align-self: center;
    width: min-content;
    height: min-content;
}

button {
    border-radius: 30px;
}

.container .footer {
    font-family: 'Press Start 2P', cursive;
    border: 20px double;
    border-radius: 40px;
    color: white;
    /* border: 1px solid; */
    /* border-color: aliceblue; */
    /* border-radius: 10px; */
    backdrop-filter: blur(1rem);
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.349), rgba(255, 255, 255, 0));
    /* margin-inline: 0%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin: auto;
    padding: 20px;
    width: max-content;
    height: max-content;
}

.footer:hover {
    color: black;
}

.but {
    margin-top: 40px;
}


h1:hover {
    color: rgb(251, 255, 0);
    text-shadow: 2px 2px 4px #000000;
}
